* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f8fafb;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
}

.contenedor {
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
	display: grid;
	grid-template-columns: 1fr;
	gap: 50px;
}

.hero {
	text-align: center;
}

.hero h1 {
	font-size: 60px;
	margin-bottom: 10px;
}

.hero p {
	font-size: 24px;
}

.formulario {
	width: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.tox-promotion{
	display: none !important;
}

.pie{
	border: 2px solid #000;
}